<div class="login-container">
    <img src="assets/images/film.png" alt="">
    <div class="logo">Rotten Potatoes</div>
    <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quos magni odit dolore saepe! Beatae incidunt accusamus porro? Nobis, 
        animi. Reiciendis recusandae commodi numquam. Vitae ab maxime eveniet 
        ratione inventore? Odit!
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="umane">Username</label>
            <input type="text" name="uname" class="form-control" [(ngModel)]="username" />
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input type="password" name="pword" class="form-control" [(ngModel)]="password" />
        </div>
        <div class="btn-container">
            <div class="error">{{ errorMsg }}</div>
            <button class="btn btn-dark" (click)="login()" >Login</button>
        </div>
    </div>
</div>